.container{
    background-color: rgb(227, 217, 236);
}
.nav{
    color: brown;
}
.car{
    font-size: 30px;
    color: rgb(77, 161, 68);
}
.bikes{
    font-size: 30px;
    color: rgb(77, 161, 68);
}
.container1{
    background-color: beige;
}
.navi{
    color: brown;
}
.manhwa{
    font-size: 30px;
    color: rgb(77, 161, 68);
}
.anime{
    font-size: 30px;
    color: rgb(77, 161, 68);
}